<nav>
    <div class="nav container flex justify-content-between align-items-center">
        <div class="logo">
            <h1><a href="index.html">Glass Logo</a></h1>
        </div>

        <ul class="menu flex">
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a></li>
        </ul>
    </div>
</nav>